body{
  background-color: #90DFB2;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  
}

#vacantesAsignadasContainer {
    border: 2px solid #CCE5FF; 
    border-radius: 5px; 
    background-color: rgb(148, 252, 148); 
    color: #000000; /* Texto negro */
    font-weight: bold;
}

.nombreRol {
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
color: black; /* Color del texto */
}



.custom-container  {
  border: 1px solid rgba(0, 0, 0, 0.5); /* Color del borde con transparencia */
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(248, 249, 250, 0.5); /* Color de fondo con transparencia */
  border-radius: 10px; /* Borde redondeado */
  width: 600;
}
#container-image.custom-container  {
  border: none; /* Quitamos el borde */
  background-color: transparent; /* Hacemos el fondo transparente */
}
.event-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Borde redondeado */
}
#fechas.custom-container{
    margin-top: 93px;
    height: 350px;
    color: #000;
}
/* Tamaño de fuente más grande */
.custom-container p {
  font-size: 22px; /* Cambia este valor según tu preferencia */
  color: #000;
}
.custom-container h4{
    font-weight: bold;
    font-size: 27px;
    color: #000;
}
.custom-btn {
  font-weight: bold; /* Texto en negrita */
  width: 300px; /* Ancho personalizado */
  height: 50px; /* Alto personalizado */
  font-size: 24px;
  background-color: green;
}
#btn-vacantes{
  font-weight: bold; /* Texto en negrita */
  width: 250px; /* Ancho personalizado */
  height: 50px; /* Alto personalizado */
  font-size: 24px;
  background-color: green;
}
.custom-container h4.center-text {
  text-align: center; /* Centramos el texto */
}
/* Estilo para el botón fuera de los contenedores */
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
}
/* Estilo para el cuadro de diálogo de confirmación */
.confirmation-dialog {
  display: none;
  position: fixed; /* Fijar la posición */
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
  z-index: 9999; /* Establecer una alta z-index para asegurar que esté por encima de otros elementos */
  background-color: #fff; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  max-width: 345px; /* Ancho máximo */
}
.confirmation-dialog h3 {
  color: #333;
  margin-bottom: 15px;
}
.confirmation-dialog p {
  color: #666;
  margin-bottom: 20px;
}
.confirmation-dialog .btn {
  font-weight: bold;
  width: 150px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {

  font-family: "Poppins", sans-serif;
}
* {
  font-family: "Poppins", sans-serif;;
}


.Header {
  align-items: center;
  background: #2E9A5D;

  display: flex;
  height: 100px;
  justify-content:flex-end;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}



.Header-inner {
  display: flex;
  justify-content: space-between;
  transition: height 0.4s ease;
  width: 80vw;
}

.Header .logo a{
  align-self: center;
  display: flex;
  height: 80px;
  margin-right: 60px;
  width: 80px;
  
}

.Header-nav {
  display: flex;
  gap:0;
  height: 0;
  justify-content: right;


  overflow: hidden;
  width: 100%;
}

.Header-nav-item {
  align-items: center;
  align-self: center;
  color: rgb(255, 255, 255);

  flex-shrink: 0;
  font-size: 20px;
  font-weight: bold;
  
  line-height: 32px;
  margin: 0 40px;
  transition: font-size 0.4s ease, padding 0.4s ease;
}


.Header-nav-item:last-child {
  margin-right: 0;
}




@media screen and (min-width: 481px) {
  .Header-nav {
    height: auto;
  }
}

.Header-nav-item h2 {
z-index: 2; /* Cambia el orden del h2 */
display: flex; /* Cambia el orden del h5 */
height:35px;
margin: 0;
}

.Header-nav-item h5 {
z-index: 1; /* Cambia el orden del h5 */
display: flex; /* Cambia el orden del h5 */
height:25px;
margin: 0;
}
.nombreRol {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos horizontalmente */
  justify-content: center; /* Centrar elementos verticalmente */
  height: 100%; /* Ajustar la altura para ocupar todo el espacio vertical disponible */
}
#menuToggle
{
display: flex;
flex-direction: column; 
align-items: center;
position: fixed;
transform: translateY(-50%); /* Centrar verticalmente */
top: 50px;
left: 50px;
z-index: 100;
-webkit-user-select: none;
user-select: none;
font-weight:bold;
}




#menuToggle a
{
text-decoration: none;
color: rgb(255, 255, 255);
transition: color 0.3s ease;
}
#menuToggle li{
  width: 250px;
  border-radius: 10px;
}
#menuToggle li:hover
{
  background-color: rgba(255, 255, 255, 0.1); /*Cambiar color*/
}

#menuToggle a:hover
{
color: rgb(164, 164, 164); /*cambiarcolor*/
}
.primero{
  margin-top:50px;
}
.seleccionado{
  background-color: rgba(255, 255, 255, 0.1);
  width: 117%;
  border-radius: 10px;
}
.seleccionado:hover{
  width: 117%;
}

#container-image.custom-container  {
position: relative; /* Añadimos posición relativa */
border: none; /* Quitamos el borde */
background-color: transparent; /* Hacemos el fondo transparente */
}
.center-text-reg {
    font-size: 24px; /* Tamaño de fuente deseado */
    font-weight: bold; /* Negrita */
    color: #ffffff; /* Color de texto */
    background-color: rgb(71, 14, 179);
    display: inline-block; /* Convertirlo en bloque en línea */
    border-radius: 5px; /* Añadir borde redondeado */
    padding: 10px;
}
#botoncarga {
position: absolute;
top: 30px; /* Ajusta la distancia desde la parte superior */
left: 30px; /* Ajusta la distancia desde el lado izquierdo */
font-weight: bold;
font-size: 24px;
background-color: rgb(160, 158, 158);
border-radius: 10px;
color: #000;
cursor: pointer;
z-index: 1; /* Añadimos z-index para que esté por encima de la imagen */
width: 150px;
}
#botoncarga i {
margin-right: 5px;
}
.fixed-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}
.btn-custom-success {
    background-color: #00913f;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px  ;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-custom-danger {
    background-color: #E74C3C;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}   
.btn-custom-success:hover{
    background-color: rgb(78, 78, 245);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.btn-custom-danger:hover {
    background-color: #E74C3C;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
  /* Estilos para el enlace */
#profesores-link a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Usa el color del texto heredado */
}

/* Estilos para el enlace cuando se hace clic */
#profesores-link a:active {
    color: inherit; /* Mantén el color del texto cuando se hace clic */
}
#success {
  background-color: #00913f;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px  ;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

#danger {
  background-color: #E74C3C;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}   
#success:hover{
  background-color: rgb(78, 78, 245);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
#danger:hover {
  background-color: #E74C3C;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
textarea {
  font-size: 16px;
  padding: 5px;
  width: 100%; /* El textarea ocupa todo el ancho disponible */
  max-width: 100%; /* Limita el ancho al 100% del contenedor padre */
  box-sizing: border-box;
  display: block;
  word-wrap: break-word;
  resize: none; /* Deshabilita el redimensionamiento manual */
  overflow: hidden; /* Oculta el scroll */
}
.hidden {
  display: none;
}
#lista-materiales {
  list-style-type: disc;
  padding-left: 20px; /* Ensure list indentation */
  color: #000;
}
.material-item {
  display: list-item; /* Ensure list-item display to show bullets */
  list-style-position: inside; /* Ensures bullets are inside the list item */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.remove-btn {
  margin-left: 10px;
  color: red;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}