.main-table {
  margin-top: 2%;
  font-size: 28px;
  padding: 0 10px;
  width: 58%;
  margin-left: auto; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
}

.main-table h2 {
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.main-table .card-table {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.main-table .card-table table {
  border: none;
  font-size: 20px;
  height: 100%;
  width: 80%;
}
.main-table .card-table tr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-body{
    color: black;
}
